<div class="shadow">
    <%if doctor_signed_in? %>
        <h1>Servicios</h1>
        <%=render 'services/form'%>
        <p></p>
        <%= button_to "Nuevo servicio",  new_service_path, method: :get%>
        <%= link_to 'Regresar', dservices_path %>
    <%end%>
</div>