<div class="container">

<div class="text-center mensaje-bienvenida">
  <p>Bienvenido, ¿qué deseas hacer?</p>
</div>

<div class="row">
  <div class="col-sm-4 item-menu-medicos">
    <a href="/medicos_registrar_servicio/MedicosRegistrarServicio">
      <p>Registrar servicios</p>
    </a>
  </div>
  <div class="col-sm-4 item-menu-medicos">
    <a href="#">
      <p>Atender consultas</p>
    </a>
  </div>
  <div class="col-sm-4 item-menu-medicos">
    <a href="/medicos_preescribir_receta/MedicosPreescribirReceta">
      <p>Preescribir receta</p>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 item-menu-medicos">
    <a href="#">
      <p>Administrar consultas</p>
    </a>
  </div>
  <div class="col-sm-4 item-menu-medicos">
    <a href="/medicos_emitir_factura/EmitirFactura">
      <p>Emitir facturas</p>
    </a>
  </div>
  <div class="col-sm-4 item-menu-medicos">
    <a href="#">
      <p>Canalizar pacientes</p>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 item-menu-medicos">
    <a href="#">
      <p>Marcar Pacientes</p>
    </a>
  </div>
</div>

</div>
