<div class="shadow">
  <p id="notice"><%= notice %></p>

  <h1>Recetas</h1>
  <div class="digg_pagination">
    <%= will_paginate @prescriptions, :container => false %>
  </div>
  <%=render "see"%>
  <%if doctor_signed_in? %>
  <%= button_to 'Nueva Receta', new_prescription_path,  method: :get %>
  <br>
  <%end%>
</div>