<!DOCTYPE html>
<html>
<head>
<body>
<h2>Dr. <%= @bill.doctor.name%> <%= @bill.doctor.lastname%></h2>
<p>Se le hace envio de una copia de la factura por los servicios que fueron requeridos.</p>
</body>
</head>
</html>