<!DOCTYPE html>
<html>
<head>
<body>
<h2>Dr.<%= @prescription.doctor.name%> <%= @prescription.doctor.lastname%></h2>
<p>Diagnóstico: <%= @prescription.subject %></p>
<p>Por favor descargue su receta.</p>
</body>
</head>
</html>