<%if patient_signed_in? || doctor_signed_in? %>
    <%= render 'partials/nabvar'%>
<%else%>
    <div class="jumbotron text-center">
      <h2>Bienvenido al Sistema de Salud</h2>
      <h1>Ruby Health Care</h1>
      <p>Inicia Sesión</p>
      <%= render 'layouts/alerts' %>
    </div>
<%end%>