<div class="container">
  <div class="jumbotron text-center">
   <h2>Bienvenido al Sistema de Salud</h2>
    <h1>Ruby Health Care</h1>
    <p>Si eres nuevo, puedes registrarte a continuación</p>
  </div>

 <div class="row text-center">
   <div class="col-sm-6">
     <a href="/registro_medicos/RegistroMedicos">
       <p>Registrarse como</p>
       <h3>médico</h3>
     </a>
   </div>

   <div class="col-sm-6">
     <p>Registrarse como</p>
     <h3>paciente</h3>
   </div>
 </div>

 <div class="text-center">
   <p>Si ya estas registrado puedes iniciar sesión</p>
   <button type="button" class="btn btn-success">Aquí</button>
 </div>

</div>
