<%if doctor_signed_in? %>
    <div class = "shadow">
        <h3>Bienvenido <%= current_doctor.name %></h3>
    </div>
<%else%>
    <%if patient_signed_in? %>
        <div class = "shadow">
        <h3>Bienvenido <%= current_patient.name %></h3>
        </div>
    <%else%>
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-4">
                    <h3><%=link_to "Ingresar como Medico", new_doctor_session_path%></h3>
                </div>
                <div class="col-sm-5">
                    <h3><%=link_to "Ingresar como Paciente", new_patient_session_path%></h3>
                </div>
            </div>
            <p></p>
        </div>
    <%end%>
<%end%>