<script 
async defer src="INSERT YOUR GOOGLE MAPS KEY">
</script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
<div class="shadow">
<p id="notice"><%= notice %></p>

<h1>Sistema de identificación de COVID-19</h1>

<div style='width: 1154px;'>
  <div id="map" style='width: 1154px; height: 400px;'></div>
</div>

<div class="digg_pagination">
    <%= will_paginate @covid_conditions, :container => false %>
</div>
<%=render 'see'%>
<br>
</div>
<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: true
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
);
</script>
