// Place all the styles related to the RegistroMedicos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.texto-fomr{
  font-size: 18px;
  font-weight: normal;
}

.seccion{
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.enviar input{
  font-size: 18px;
}
