<div class="container">

<div class="text-center mensaje-bienvenida">
  <p>Bienvenido, ¿qué deseas hacer?</p>
</div>

<div class="row">
  <div class="col-sm-4 item-menu-pacientes">
    <a href="/paciente_generar_consulta/GenerarConsulta">
      <p>Generar consulta</p>
    </a>
  </div>
  <div class="col-sm-4 item-menu-pacientes">
    <a href="#">
      <p>Centros de salud</p>
    </a>
  </div>
  <div class="col-sm-4 item-menu-pacientes">
    <a href="#">
      <p>Revisar recetas</p>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-4 item-menu-pacientes">
    <a href="/paciente_datos_facturacion/DatosFacturacion">
      <p>Datos de facturación</p>
    </a>
  </div>
  <div class="col-sm-4 item-menu-pacientes">
    <a href="#">
      <p>Consultar movimientos</p>
    </a>
  </div>
  <div class="col-sm-2">
  </div>
</div>

</div>
